/**
 * CSS Framework for reseting and styling web elements.
 *
 * @copyright     Radosław Zając, kicaj (kicaj@kdev.pl)
 * @link          http://repo.kdev.pl/cssframework
 * @version       1.5.20150106
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
@charset "UTF-8";

/**
 * Reseting default settings in all browsers
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, form, fieldset, label, legend, input, textarea, select, button, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0px;
	padding: 0px;
	border: 0px;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	display: block;
	float: left;
	width: 100%;
}

body {
	line-height: 1.2;
}

p {
	margin: 1% 0%;
}

b, strong {
	font-weight: bold;
}

i, em {
	font-style: italic;
}

s {
	text-decoration: line-through;
}

mark, .mark {
	background: yellow;
	background: rgba(255, 255, 0, 0.40);
}

dfn {
	font-style: italic;
	border-bottom: 1px dotted #c0c0c0;
	cursor: help;
}

abbr {
	text-transform: uppercase;
	font-size: 80%;
	border-bottom: 1px dotted #c0c0c0;
	letter-spacing: 1px;
}

del, .del {
	text-decoration: line-through;
	font-style: italic;
	-webkit-opacity: 0.50;
	   -moz-opacity: 0.50;
	        opacity: 0.50;
}

ins, .ins {
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: #005000;
	vertical-align: middle;
}

code, kbd, pre, samp, var {
	font-family: monospace;
	font-size: 100%;
}

code, .code, pre {
	display: block;
	white-space: pre;
	background: #fafafa;
	width: 96%;
	margin: 1% 0%;
	padding: 1%;
	-moz-tab-size: 4;
	     tab-size: 4;
	-webkit-box-shadow: inset 0px 0px 1px #c0c0c0;
	   -moz-box-shadow: inset 0px 0px 1px #c0c0c0;
	        box-shadow: inset 0px 0px 1px #c0c0c0;
}

pre {
	background: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}

kbd {
	padding: 1px 5px;
	font-size: 75%;
	font-family: sans-serif;
	background-color: #f7f7f7;
	color: #333333;
	display: inline-block;
	line-height: 130%;
	white-space: nowrap;
	margin-bottom: 1px;
	border: 1px solid #cccccc;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.20), inset 0px 0px 0px 2px #ffffff;
	   -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.20), inset 0px 0px 0px 2px #ffffff;
	        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.20), inset 0px 0px 0px 2px #ffffff;
	-webkit-text-shadow: 0px 1px 0px #ffffff;
	   -moz-text-shadow: 0px 1px 0px #ffffff;
	        text-shadow: 0px 1px 0px #ffffff;
}

samp {
	white-space: nowrap;
}

var {
	background: #fafafa;
	white-space: nowrap;
	font-size: 90%;
}

hr {
	border: 0px;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.00));
	background-image:    -moz-linear-gradient(left, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.00));
	background-image:      -o-linear-gradient(left, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.00));
	background-image:         linear-gradient(left, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.00));
}

/**
 * Normalize form elements
 */
fieldset {

}

label {
	line-height: 28px;
}

input, input[type=button], input[type=submit], input[type=reset], textarea, select, button, .button, iframe {
	font-size: 11px;
	font-family: sans-serif;
	color: #666666;
	text-decoration: none;
	text-overflow: ellipsis;
	outline: none;
	height: 30px;
	background: #ffffff;
	padding-left: 5px;
	padding-right: 5px;
	white-space: nowrap;
	border: 1px solid #d8d8d8;
	border-bottom: 1px solid #cccccc;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.58), inset 0px 1px 6px rgba(0, 0, 0, 0.07), inset 0px -15px 14px rgba(255, 255, 255, 0.20);
	   -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.58), inset 0px 1px 6px rgba(0, 0, 0, 0.07), inset 0px -15px 14px rgba(255, 255, 255, 0.20);
	        box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.58), inset 0px 1px 6px rgba(0, 0, 0, 0.07), inset 0px -15px 14px rgba(255, 255, 255, 0.20);
	-webkit-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.59);
	   -moz-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.59);
	        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.59);
}

input:not([type=checkbox]):not([type=radio]), input[type=button], input[type=submit], input[type=reset], textarea, select, button, .button, iframe {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}

input[type=checkbox], input[type=radio] {

}

textarea {
	min-height: 65px;
	height: auto;
	resize: none;
	padding: 2px 5px;
	padding-top: 8px;
	white-space: normal;
}

select, option {
	height: 30px;
	line-height: 30px;
	vertical-align: bottom;
}

option[value=""] {
	color: #bbbbbb;
}

/**
 * Normalize button
 *
 * button tag, input type button, input type submit, input type reset and tag with .button class
 */
button, input[type=button], input[type=submit], input[type=reset], .button {
	background: #ececec;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
	min-width: -webkit-min-content;
	min-width:    -moz-min-content;
	min-width:         min-content;
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.03), inset 0px 1px 0px rgba(255, 255, 255, 0.69), inset 0px -1px 0px rgba(0, 0, 0, 0.02), inset 0px 15px 14px rgba(255, 255, 255, 0.57);
	   -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.03), inset 0px 1px 0px rgba(255, 255, 255, 0.69), inset 0px -1px 0px rgba(0, 0, 0, 0.02), inset 0px 15px 14px rgba(255, 255, 255, 0.57);
	        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.03), inset 0px 1px 0px rgba(255, 255, 255, 0.69), inset 0px -1px 0px rgba(0, 0, 0, 0.02), inset 0px 15px 14px rgba(255, 255, 255, 0.57);
}

.button {
	display: inline-block;
	line-height: 28px;
}

button:hover, button:focus, input[type=button]:hover, input[type=button]:focus, input[type=submit]:hover, input[type=submit]:focus, input[type=reset]:hover, input[type=reset]:focus, .button:hover, .button:focus, .button-hover {
	color: #888888;
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.03), inset 0px 1px 0px rgba(255, 255, 255, 0.69), inset 0px -1px 0px rgba(0, 0, 0, 0.02), inset 0px 15px 14px rgba(255, 255, 255, 0.75);
	   -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.03), inset 0px 1px 0px rgba(255, 255, 255, 0.69), inset 0px -1px 0px rgba(0, 0, 0, 0.02), inset 0px 15px 14px rgba(255, 255, 255, 0.75);
	        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.03), inset 0px 1px 0px rgba(255, 255, 255, 0.69), inset 0px -1px 0px rgba(0, 0, 0, 0.02), inset 0px 15px 14px rgba(255, 255, 255, 0.75);
	-webkit-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.69);
	   -moz-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.69);
	        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.69);
}

button:active, input[type=button]:active, input[type=submit]:active, input[type=reset]:active, .button:active, button.button-active, input[type=button].button-active, input[type=submit].button-active, input[type=reset].button-active, .button-active, .button-active:hover {
	color: #888888;
	border-color: #d2d2d2;
	border-bottom-color: #d8d8d8;
	cursor: default;
	-webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.58), inset 0px 1px 6px rgba(0, 0, 0, 0.07), inset 0px -15px 14px rgba(255, 255, 255, 0.20);
	   -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.58), inset 0px 1px 6px rgba(0, 0, 0, 0.07), inset 0px -15px 14px rgba(255, 255, 255, 0.20);
	        box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.58), inset 0px 1px 6px rgba(0, 0, 0, 0.07), inset 0px -15px 14px rgba(255, 255, 255, 0.20);
	-webkit-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.69);
	   -moz-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.69);
	        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.69);
}

button[disabled], input[type=button][disabled], input[type=submit][disabled], input[type=reset][disabled], .button[disabled], button.button-disabled, input[type=button].button-disabled, input[type=submit].button-disabled, input[type=reset].button-disabled, .button-disabled, .button-disabled:hover {
	color: #c0c0c0;
	border-color: #d2d2d2;
	border-bottom-color: #d8d8d8;
	cursor: default;
	-webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.58), inset 0px 1px 6px rgba(0, 0, 0, 0.07), inset 0px -15px 14px rgba(255, 255, 255, 0.20);
	   -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.58), inset 0px 1px 6px rgba(0, 0, 0, 0.07), inset 0px -15px 14px rgba(255, 255, 255, 0.20);
	        box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.58), inset 0px 1px 6px rgba(0, 0, 0, 0.07), inset 0px -15px 14px rgba(255, 255, 255, 0.20);
	-webkit-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
	   -moz-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
	        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
}

/**
 * Normalize input type file
 */
.button-file {
	float: left;
	overflow: hidden;
	white-space: nowrap;
}

.button-file input[type=file] {
	width: 1px;
	height: 0px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	float: right;
	-webkit-opacity: 0.00;
	   -moz-opacity: 0.00;
	        opacity: 0.00;
}

/**
 * Normalize select
 */
.button-select {
	position: relative;
	float: left;
}

.button-select button {
	text-align: left;
}

.button-select button:after {
	content: '▾';
	position: absolute;
	right: 7px;
}

.button-select select {
	position: absolute;
	top: 0px;
	left: 0px;
	cursor: pointer;
	-webkit-opacity: 0.00;
	   -moz-opacity: 0.00;
	        opacity: 0.00;
}

/**
 * Group of buttons
 */
.button-left {
	margin-right: 0px;
	-webkit-border-top-right-radius: 0px;
	   -moz-border-top-right-radius: 0px;
	        border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	   -moz-border-bottom-right-radius: 0px;
	        border-bottom-right-radius: 0px;
}

.button-center {
	margin-left: 0px;
	margin-right: 0px;
	border-left: none;
	border-right: none;
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
	        border-radius: 0px;
}

.button-center + .button-center {
	border-left: 1px solid #d2d2d2;
}

.button-right {
	margin-left: 0px;
	-webkit-border-top-left-radius: 0px;
	   -moz-border-top-left-radius: 0px;
	        border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	   -moz-border-bottom-left-radius: 0px;
	        border-bottom-left-radius: 0px;
}

.button-left + .button-right {
	border-left: none;
}

.button-top {
	width: 100%;
	margin-bottom: 0px;
	-webkit-border-bottom-left-radius: 0px;
	   -moz-border-bottom-left-radius: 0px;
	        border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	   -moz-border-bottom-right-radius: 0px;
	        border-bottom-right-radius: 0px;
}

.button-middle {
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	border-top: none;
	border-bottom: none;
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
	        border-radius: 0px;
}

.button-middle + .button-middle {
	border-top: 1px solid #d2d2d2;
}

.button-bottom {
	width: 100%;
	margin-top: 0px;
	-webkit-border-top-left-radius: 0px;
	   -moz-border-top-left-radius: 0px;
	        border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	   -moz-border-top-right-radius: 0px;
	        border-top-right-radius: 0px;
}

.button-top + .button-bottom {
	border-top: none;
}

/**
 * Normalize input type checkbox
 */
input[type=checkbox] {
	height: auto;
	margin: 1%;
}



/**
 * Normalize input type radio
 */
input[type=radio] {
	height: auto;
	margin: 1%;
}

/**
 * Normalize anchor tags
 */
a, a:hover, a:active, a:visited {
	outline: 0px;
	text-decoration: none;
}

/**
 * Main container
 */
.container {
	width: 1000px;
	margin: 0px auto;
	overflow: auto;
}

/**
 * Columns
 */
.column-1 {
	float: left;
	width: 6.33%;
	margin: 1%;
}

.column-2 {
	float: left;
	width: 14.66%;
	margin: 1%;
}

.column-3 {
	float: left;
	width: 23.00%;
	margin: 1%;
}

.column-4 {
	float: left;
	width: 31.33%;
	margin: 1%;
}

.column-5 {
	float: left;
	width: 39.66%;
	margin: 1%;
}

.column-6 {
	float: left;
	width: 48.00%;
	margin: 1%;
}

.column-7 {
	float: left;
	width: 56.33%;
	margin: 1%;
}

.column-8 {
	float: left;
	width: 64.66%;
	margin: 1%;
}

.column-9 {
	float: left;
	width: 73.00%;
	margin: 1%;
}

.column-10 {
	float: left;
	width: 81.33%;
	margin: 1%;
}

.column-11 {
	float: left;
	width: 89.66%;
	margin: 1%;
}

.column-12 {
	float: left;
	width: 98%;
	margin: 1%;
}

/**
 * Columns offsets
 */
.offset-1 {
	margin-left: 9.33%;
}

.offset-2 {
	margin-left: 17.66%;
}

.offset-3 {
	margin-left: 26.00%;
}

.offset-4 {
	margin-left: 34.33%;
}

.offset-5 {
	margin-left: 42.66%;
}

.offset-6 {
	margin-left: 51.00%;
}

.offset-7 {
	margin-left: 59.33%;
}

.offset-8 {
	margin-left: 67.66%;
}

.offset-9 {
	margin-left: 76.00%;
}

.offset-10 {
	margin-left: 84.33%;
}

.offset-11 {
	margin-left: 92.66%;
}

/**
 * Columns insets
 */
.inset-1 {
	margin-right: 9.33%;
	float: left;
}

.inset-2 {
	margin-right: 17.66%;
	float: left;
}

.inset-3 {
	margin-right: 26.00%;
	float: left;
}

.inset-4 {
	margin-right: 34.33%;
	float: left;
}

.inset-5 {
	margin-right: 42.66%;
	float: left;
}

.inset-6 {
	margin-right: 51.00%;
	float: left;
}

.inset-7 {
	margin-right: 59.33%;
	float: left;
}

.inset-8 {
	margin-right: 67.66%;
	float: left;
}

.inset-9 {
	margin-right: 76.00%;
	float: left;
}

.inset-10 {
	margin-right: 84.33%;
	float: left;
}

.inset-11 {
	margin-right: 92.66%;
	float: left;
}

/**
 * Floating elements
 */
.left {
	float: left;
}

.right {
	float: right;
}

.center {
	display: block;
	margin: 0px auto;
}

.clear {
	clear: both;
}

/**
 * Text positioning
 */
.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

/**
 * Normalize headers
 */
h1 {
	font-size: 35px;
	margin-top: 8px;
	line-height: 1;
	margin-bottom: 4px;
}

h2 {
	font-size: 28px;
	margin-top: 8px;
	line-height: 1;
	margin-bottom: 4px;
}

h3 {
	font-size: 25px;
	margin-top: 8px;
	line-height: 1;
	margin-bottom: 4px;
}

h4 {
	font-size: 22px;
	margin-top: 8px;
	line-height: 1;
	margin-bottom: 4px;
}

h5 {
	font-size: 20px;
	margin-top: 6px;
	line-height: 1;
	margin-bottom: 3px;
	font-weight: bold;
}

h6 {
	font-size: 16px;
	margin-top: 6px;
	line-height: 1;
	margin-bottom: 3px;
	font-weight: bold;
}

/**
 * Normalize quotes
 */
blockquote, q {
	quotes: none;
	color: #a0a0a0;
	background: #eeeeee;
	font: 90% Georgia, "Times New Roman";
	width: 80%;
	margin: 2% 10%;
	line-height: 155%;
}

blockquote:before, q:before {
	content: "\201C";
	display: block;
	width: 25px;
	height: 23px;
	background: #c0c0c0;
	color: #ffffff;
	font-size: 36px;
	margin-left: -25px;
	padding-top: 5px;
	text-align: center;
	float: left;
	overflow: visible;
	line-height: 100%;
}

blockquote::after {
	content: "";
	display: none;
}

blockquote p {
	width: 96%;
	padding: 2%;
	font-style: italic;
}

blockquote cite {
	width: 98%;
	padding: 1%;
	text-align: right;
	float: right;
	font-size: x-small;
	font-style: normal;
	margin-top: -2%;
}

/**
 * Normalize lists
 */
ul {
	margin-left: 25px;
}

ul li {
	list-style: none;
}

ol {
	counter-reset: ol;
	margin-left: 12px;
}

ol li {
	counter-increment: ol;
	list-style-type: none;
}

ol li:before {
	content: counters(ol, '.') '. ';
}

/**
 * Normalize definition lists
 */
dl {
	float: left;
	line-height: 120%;
}

dl dt {
	font-weight: bold;
}

dl dd {
	text-indent: 10px;
}

/**
 * Normalize tables
 */
table {
	width: 98%;
	margin: 1%;
	text-align: left;
	border: 1px;
	border-collapse: collapse;
	border-spacing: 0px;
}

table caption {
	text-align: right;
	font-size: x-small;
	font-style: italic;
	line-height: 130%;
	color: #888888;
}

table thead {
	font-weight: bold;
	background: #fafafa;
	color: #444444;
	border-bottom: 3px solid #eeeeee;
}

table thead tr {
	line-height: 200%;
}

table tbody {
	color: #555555;
}

table tbody tr:nth-of-type(even) {
	background: #fafafa;
	border-bottom: 1px solid #eeeeee;
}

table tbody tr:nth-of-type(odd) {
	background: #f1f1f1;
}

table tfoot {
	color: #444444;
}

table tfoot tr {
	line-height: 200%;
}

/**
 * Special classes - texts
 */
.capitalize {
	text-transform: capitalize;
}

.lowercase {
	text-transform: lowercase;
}

.uppercase {
	text-transform: uppercase;
}

.small {
	font-size: 85%;
}

.medium {
	font-size: 100%;
}

.large {
	font-size: 115%;
}

/**
 * Special classes - elements
 */
.border {
	padding: 5px;
	background: #fafafa;
	-webkit-box-shadow: 0px 0px 2px #a0a0a0;
	   -moz-box-shadow: 0px 0px 2px #a0a0a0;
	        box-shadow: 0px 0px 2px #a0a0a0;
}

/**
 * Media Queries
 *
 * Standards resolutions: 1024px, 768px, 480px, 320px and 240px
 */
@media screen and (max-width: 1024px) {
	.container {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
	/**
	 * Columns
	 */
	.column-1 {
		width: 98%;
	}

	.column-2 {
		width: 98%;
	}

	.column-3 {
		width: 98%;
	}

	.column-4 {
		width: 98%;
	}

	.column-5 {
		width: 98%;
	}

	.column-6 {
		width: 98%;
	}

	.column-7 {
		width: 98%;
	}

	.column-8 {
		width: 98%;
	}

	.column-9 {
		width: 98%;
	}

	.column-10 {
		width: 98%;
	}

	.column-11 {
		width: 98%;
	}

	.column-12 {
		width: 98%;
	}

	/**
	 * Columns insets
	 */
	.inset-1 {
		margin-right: 1%;
	}

	.inset-2 {
		margin-right: 1%;
	}

	.inset-3 {
		margin-right: 1%;
	}

	.inset-4 {
		margin-right: 1%;
	}

	.inset-5 {
		margin-right: 1%;
	}

	.inset-6 {
		margin-right: 1%;
	}

	.inset-7 {
		margin-right: 1%;
	}

	.inset-8 {
		margin-right: 1%;
	}

	.inset-9 {
		margin-right: 1%;
	}

	.inset-10 {
		margin-right: 1%;
	}

	.inset-11 {
		margin-right: 1%;
	}

	/**
	 * Columns offsets
	 */
	.offset-1 {
		margin-left: 1%;
	}

	.offset-2 {
		margin-left: 1%;
	}

	.offset-3 {
		margin-left: 1%;
	}

	.offset-4 {
		margin-left: 1%;
	}

	.offset-5 {
		margin-left: 1%;
	}

	.offset-6 {
		margin-left: 1%;
	}

	.offset-7 {
		margin-left: 1%;
	}

	.offset-8 {
		margin-left: 1%;
	}

	.offset-9 {
		margin-left: 1%;
	}

	.offset-10 {
		margin-left: 1%;
	}

	.offset-11 {
		margin-left: 1%;
	}
}

@media screen and (max-width: 320px) {

}

@media screen and (max-width: 240px) {

}